@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.author {
  border-top: 1px solid $color-gray-border;
  max-width: $layout-post-width;
  padding-left: 20px;
  display: flex;
  padding-top: 20px;
  @include line-height(1);
  @include margin-top(1);
  @include margin-bottom(3);

  &__photo {
    display: flex;
    align-items: center;

    &-image {
      margin-right: 0;
      margin-bottom: 0;
      min-width: 75px;
    }
  }

  &__bio {
    @include margin-top(1);
    padding-left: 20px;

    &-twitter {
      @include margin-bottom(0.5);
      display: block;
      text-decoration: none;
    }
  }
}

@include breakpoint-sm {
  .author {
    margin-left: auto;
    margin-right: auto;
    @include margin-bottom(2);
  }
}