@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.author {
  border-top: 1px solid $color-gray-border;
  max-width: $layout-post-width;
  display: block;
  padding-top: 28px;
  @include line-height(1);
  @include margin-top(1);
  @include margin-bottom(5);

  &__photo {
    display: flex;
    justify-content: center;

    &-image {
      margin-right: 0;
      margin-bottom: 0;
      min-width: 75px;
    }
  }

  &__bio {
    @include margin-top(1);
    padding-left: 20px;

    &-description {
      text-align: center;
    }

    &-name {
      font-weight: bold;
    }

    &-twitter {
      @include margin-bottom(0.5);
      display: block;
      text-decoration: none;

      &__name {
        font-weight: bold;
      }
    }
  }

}

@include breakpoint-md {
  .author {
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    @include margin-bottom(2);
    display: flex;

    &__photo {
      display: flex;
      align-items: center;
    }

    &__bio {
      &-description {
        text-align: left;
      }
    }

  }
}