@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.rotate-1\/8 {
  transform: rotate(-45deg);
}

.section-title {
  @apply w-full text-center py-5 text-4xl;
}

.card {
  @apply my-5 max-w-sm w-5/6 rounded overflow-hidden border;
}

.about-card-title {
  @apply py-4 font-bold text-2xl text-center;
}

.portfolio-card-title {
  @apply mb-1 font-bold text-xl text-center;
}

.card-text {
  @apply text-base leading-normal;
}

.tooltip {
  @apply inline-block rounded-full px-3 py-1 text-sm font-semibold mr-1 mt-1;
}

.langage-skills-chart {
  max-width: 620px;
  max-height: 310px;
  min-height: 300px;
}

.other-item {
  @apply mx-3 my-5 text-center;
}

.other-image {
  @apply w-64 h-64 rounded-full border;
}

.other-text {
  @apply pt-4 pb-4 text-lg;
}

@screen md {
  .top-title {
    @apply leading-normal;
  }

  .card {
    @apply my-0;
  }

  .card-text {
    @apply text-sm;
  }

  .others-container {
    @apply flex justify-between mx-2;
  }

  .other-item {
    @apply my-3;
  }

  .other-text {
    @apply pb-0;
  }
}
