.flex {
  display: flex;
}

.justify-end {
  justify-content: flex-end;
}

.px-3 {
  padding-right: 0.75rem;
  padding-left: 0.75rem;
}

.pt-3 {
  padding-top: 0.75rem;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  padding: 0;
  border: 0;
  background-color: transparent;
  font-size: 1.875rem;
  cursor: pointer;
}

button:focus {
  outline: none;
}

.text-3xl {
  font-size: 1.875rem;
}

.cursor-pointer {
  cursor: pointer;
}

.mr-2 {
  margin-right: .5rem;
}

.px-2 {
  padding-right: .5rem;
  padding-left: .5rem;
}

.border-grey-dark {
  border-color: #8795a1;
}

.mx-2 {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

.text3xl {
  font-size: 1.875rem;
}

.pb-6 {
  padding-bottom: 1.5rem;
}

.text-center {
  text-align: center;
}

.font-bold {
  font-weight: 700;
}

.mt-0 {
  margin-top: 0;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-center {
  justify-content: center;
}


.portfolio {
  margin-left: auto;
  margin-right: auto;

  &__flags {
    padding-top: 0.75rem;
  }
}

//
//@import "tailwindcss/base";
//@import "tailwindcss/components";
//@import "tailwindcss/utilities";

.rotate-1\/8 {
  transform: rotate(-45deg);
}

.section-title {
  @apply w-full text-center py-5 text-4xl;
}

.card {
  @apply my-5 max-w-sm w-5/6 rounded-lg overflow-hidden border;
}

.about-card-title {
  @apply py-4 font-bold text-2xl text-center;
}

.portfolio-card-title {
  @apply mb-1 font-bold text-xl text-center;
}

.card-text {
  @apply text-base leading-normal;
}

.tooltip {
  @apply inline-block rounded-full px-3 py-1 text-sm font-semibold mr-1 mt-1;
}

.langage-skills-chart {
  max-width: 620px;
  max-height: 310px;
  min-height: 300px;
}

.other-item {
  @apply mx-3 my-5 text-center;
}

.other-image {
  @apply w-64 h-64 rounded-full border;
}

.other-text {
  @apply pt-4 pb-4 text-lg;
}

@screen md {
  .top-title {
    @apply leading-normal;
  }

  .card {
    @apply my-0;
  }

  .card-text {
    @apply text-sm;
  }

  .others-container {
    @apply flex justify-between mx-2;
  }

  .other-item {
    @apply my-3;
  }

  .other-text {
    @apply pb-0;
  }
}
