@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.content {
  max-width: $layout-post-single-width;
  padding: 0 15px;
  margin: 0 auto;

  &__breadcrumb {
    margin: 14px 0 7px;
    padding-left: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 14px;
    color: #4A5568;

    li {
      @include margin-top(0);
      @include margin-bottom(0);
    }
  }

  &__title {
    font-size: $typographic-base-font-size * 1.4;
    max-width: $layout-post-width;
    margin-left: auto;
    margin-right: auto;
    font-weight: 600;
    text-align: center;
    @include line-height(1.5);
    @include margin-top(0);
    @include margin-bottom(0);
  }

  &__body {
    & p {
      font-size: $typographic-base-font-size * 1;
      @include line-height(1.1);
    }

    & blockquote {
      p {
        @include margin-bottom(0.25);
      }
    }

    &-toc {
      @include padding(0.1, 0.3, 0.1, 0);
      @include line-height(1.25);
      background-color: #F7FAFC;
      border-radius: 8px;

      ul {

        li {
          font-size: $typographic-base-font-size * 1;
          @include margin-top(0.25);
          @include margin-bottom(0.25);

          ul {
            margin-top: 0;
            margin-bottom: 0;
            list-style: circle;
            padding-inline-start: 20px;

            ul {
              list-style: disc;
            }

          }

          p {
            margin: 0;
            font-size: $typographic-base-font-size * 1;
          }
        }
      }
    }

    & h2 {
      @include margin-top(3);
      @include line-height(1.5);
      border-bottom: 1px solid #ddd;
    }

    & h3, h4 {
      @include line-height(1.5);
      @include margin-top(1.5);
    }


    & figure {
      @include margin-bottom(1);

      & blockquote {
        & p {
          max-width: $layout-post-width;
          font-size: $typographic-base-font-size * 1.3;
          margin-top: 0;
          @include margin-bottom(1);
        }

      }

    }

    & a {
      text-decoration: none
    }

    & * {
      max-width: $layout-post-width;
      margin-left: auto;
      margin-right: auto;

    }

    & img {
      max-width: 100%;
    }

  }

}

@include breakpoint-md {
  .content {
    padding: 0;

    &__breadcrumb {
      margin: 21px 0 7px;
    }

    &__body {
      font-size: $typographic-base-font-size * 1.125;
      @include margin-bottom(1.125);

      & p {
        font-size: $typographic-base-font-size * 1.125;
        @include margin-bottom(1.125);
        @include line-height(1.25);
      }

      &-toc {
        ul {
          li {
            @include margin-top(0.5);
            @include margin-bottom(0.5);

            ul {
              padding-inline-start: 40px;
            }
          }
        }
      }
    }

  }
}
