@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.nextPrevPost {
  @include padding(1, 0);
  display: flex;

  &__link {
    &--left {
      @include padding(0, 0.5, 0, 0);
      margin-right: auto;
    }

    &--right {
      @include padding(0, 0, 0, 0.5);
      margin-left: auto;
    }

    &-arrow {
      &--left {
        @include margin-top(1);
        @include margin-bottom(0);
        text-align: left;
      }

      &--right {
        @include margin-top(1);
        @include margin-bottom(0);
        text-align: right;
      }

    }
  }

}

@include breakpoint-md {
  .nextPrevPost {

    &__link {
      &--left {
        @include padding(0, 1, 0, 0);
      }

      &--right {
        @include padding(0, 0, 0, 1);
      }

    }
  }
}