@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.meta {
  max-width: $layout-post-width;
  margin: 12px auto;
  display: flex;
  justify-content: flex-end;

  &__date {
    font-size: 14px;
    color: #4A5568;
    font-style: normal;
    @include margin(0, 0, 0, 0.5)
  }

}
