@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.postList {
  @include padding(.1, 0, 1.25);

  &__heading {
    &-title {
      font-size: 1.5rem;
      font-weight: bold;
    }
  }

  &__post {
    &-link {

      & p {
        @include margin-bottom(0.25);
      }
    }

    &-icon {
      padding-right: 8px;
    }
  }
}

@include breakpoint-md {
  .postList {
    &__post {
      display: flex;

    }
  }

}
