@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.postList {
  @include padding(0, 0);

  &__heading {
    &-title {
      font-size: 1.5rem;
      font-weight: bold;
    }
  }

  &__post {
    &-link {
      width: 100%;

      & p {
        @include margin-bottom(0.25);
      }
    }

    &-icon {
      margin-right: 4px;
    }
  }
}

@include breakpoint-md {
  .postList {
    &__post {
      display: flex;

    }
  }

}
