@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.button {
  @include margin(0, 0.8, 0, 0.8);
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;

  &:hover {
    cursor: pointer;
  }

  &__image {
    border-radius: 50%;
  }

}

@include breakpoint-md {
  .button {
    @include margin(0, 1.5, 0, 1.5);
  }

}
