@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.button {
  @include margin(0, 0.8, 0, 0.8);
  width: 40px;
  height: 40px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 10px;

  &:hover {
    cursor: pointer;
  }

}

@include breakpoint-md {
  .button {
    @include margin(0, 1.5, 0, 1.5);
  }

}
