.button {
  width: 40px;
  height: 40px;
  margin-right: 20px;
  margin-left: 20px;
  text-align: center;
  border-radius: 5px;

  &:hover {
    cursor: pointer;
  }

  &__icon {

    &-clip {
      padding-top: 8px;

    }

  }

}