@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.post {
  &__comments {
    max-width: $layout-post-width;
    margin: 0 auto;
    padding: 0 15px;
  }

  &__home-button {
    display: block;
    max-width: 90px;
    height: $button-height;
    padding: 0 24px;
    line-height: $button-height;
    text-align: center;
    color: $color-base;
    border: 1px solid $color-gray-border;
    border-radius: $button-border-radius;
    font-size: $typographic-base-font-size;
    font-weight: normal;
    margin-left: auto;
    margin-right: auto;
    @include margin-top(1);

    &:hover,
    &:focus {
      color: $color-primary;
    }

  }

  &__footer {
    max-width: $layout-post-width;
    margin: 0 auto;
    padding: 0 15px;

    &-share {
      display: flex;

      &Button {
        width: 40px;
        margin-right: 36px;
      }

      &Icon {
        &:hover {
          cursor: pointer;
        }
      }
    }

  }

  &__sticky-footer {
    display: flex;
    height: 42px;
    background-color: #FFFFFF;
    margin: auto;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;

    &-share {

      &Button {
        padding-bottom: 0;

        &:hover {
          cursor: pointer;
        }

      }

      &--Icon {
        //padding-top: 6px;
        //padding-bottom: 6px;
        //height: 36px;
        //width: 33vw;
        //border-radius: 6px;
      }
    }

  }

}

@include breakpoint-md {
  .post {
    &__footer {
      padding: 0;
    }

    &__comments {
      padding: 0;
    }

    &__home-button {
      position: fixed;
      max-width: auto;
      margin: 0;
      top: 30px;
      left: 30px
    }

    &__sticky-footer {
      display: none;
    }
  }

}
